@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html {
    height: 100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1542831371-32f555c86880");
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Mono', monospace;
}

hr {
    width: 400px;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

h1, h3, span {
    color: white;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
