@page "/"

@using CountdownTimer.Model;

<h1>countdown timer</h1>

welcome to the countdown timer app.

<EditForm Model="@countdownTimerEvent" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Name:
        <InputText id="name" DisplayName="Name" @bind-Value="countdownTimerEvent.Name" />
    </label>
    <label>
        Date:
        <InputDate id="date" DisplayName="Date" @bind-Value="countdownTimerEvent.Date" />
    </label>

    <button type="submit">Start</button>
</EditForm>

@code {
    private CountdownTimerEvent countdownTimerEvent = new();

    private void HandleValidSubmit()
    {
        System.Diagnostics.Debug.WriteLine($"Name: {countdownTimerEvent.Name}");
        System.Diagnostics.Debug.WriteLine($"DateTime: {countdownTimerEvent.Date}");
    }
} 