@page "/"

@using CountdownTimer.Model;

<EditForm Model="@countdownTimerEvent" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        Name:
        <InputText id="name" DisplayName="Name" @bind-Value="countdownTimerEvent.Name" />
    </label>
    <label>
        Date:
        <InputDate id="date" DisplayName="Date" @bind-Value="countdownTimerEvent.Date" />
    </label>

    <button type="submit">Start</button>
</EditForm>

<p>@countdownTimerEvent.TimeLeft</p>

@code {
    private CountdownTimerEvent countdownTimerEvent = new();

        protected override void OnInitialized()
        {
            base.OnInitialized();

            countdownTimerEvent.SecondCountdownEvent += (s, e) => { InvokeAsync(StateHasChanged); };
        }

        private void HandleValidSubmit()
    {
        countdownTimerEvent.StartCountdown();
    }
} 